<div id="saving" class="account">
    <h1>Savings Accounts</h1>
    <table class="table">
        <thead>
            <tr id="top">
                <th scope="col">Savings -2537</th>
                <th scope="col">$27,900.00</th>
            </tr>
            <tr>
                <td>Account Name</td>
                <td>Available Balance</td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td><a [routerLink]="['/dashboard/savings', savings._id]">Savings -2537</a></td>
            <td>$27,900.00</td>
        </tr>
        </tbody>
    </table>
</div>
<a [routerLink]="['/dashboard/home']">Back to All Accounts</a>
