<h1>Welcome, Breanne</h1>
<div id="checking" class="account">
    <table class="table">
        <thead>
            <tr id="top">
                <th scope="col"><a [routerLink]="['/dashboard/checking']">Checking Accounts</a></th>
                <th scope="col">$3,782.01</th>
            </tr>
            <tr>
                <td><span>Account Name</span></td>
                <td><span>Available Balance</span></td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Checking -8349</td>
            <td>$3,782.01</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="saving" class="account">
    <table class="table">
        <thead>
            <tr id="top">
                <th scope="col"><a [routerLink]="['/dashboard/savings']">Savings Accounts</a></th>
                <th scope="col">$27,900.00</th>
            </tr>
            <tr>
                <td><span>Account Name</span></td>
                <td><span>Available Balance</span></td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Savings -2537</td>
            <td>$27,900.00</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="cc" class="account">
    <table class="table">
        <thead>
            <tr id="top">
                <th scope="col"><a [routerLink]="['/dashboard/credit']">Credit Cards</a></th>
                <th scope="col">  </th>
                <th scope="col">$15,000.00</th>
            </tr>
            <tr>
                <td><span>Account Name</span></td>
                <td><span>Available Credit</span></td>
                <td><span>Current Balance</span></td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Credit Card -4207</td>
            <td>$13,387.56</td>
            <td>$1,612.44</td>
        </tr>
        </tbody>
    </table>
</div>
<div id="loan" class="account">
    <table class="table">
        <thead>
            <tr id="top">
                <th scope="col"><a [routerLink]="['/dashboard/loans']">Loans</a></th>
                <th scope="col">  </th>
                <th scope="col">$25,000.00</th>
            </tr>
            <tr>
                <td><span>Account Name</span></td>
                <td><span>Original Amount</span></td>
                <td><span>Remaining Balance</span></td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Loan -1289</td>
            <td>$25,000.00</td>
            <td>$5,876.21</td>
        </tr>
        </tbody>
    </table>
</div>
