<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>BBC Bank</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BBC BANK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <a class="nav-link" href="#">PERSONAL<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">BUSINESS</a>
                </li>
                <li class="nav-item dropdown">
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <a href="/"><img src="assets/images/search.png" alt="search"></a>
            </form>
            <span class="navbar-text">
                <a [routerLink]="['/login']">LOG IN</a>
            </span>
        </div>
    </nav>
    <div class="subnav">
        <ul class="list-inline">
            <li class="list-inline-item">CHECKING & SAVINGS</li>
            <li class="list-inline-item">CREDIT CARDS</li>
            <li class="list-inline-item">LOANS</li>        
        </ul>
    </div>
    <div class="container-fluid" [ngStyle]="{background: 'url(assets/images/sky.jpg)'}">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="login">
                    <h2>REGISTER</h2>
                    <form (submit)="registerUser()" class="form1">
                        <div class="form-group row">
                            <label for="newUser.firstName" class="col-sm-2 col-form-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="newUser.firstName" name="firstName" id="newUser.firstName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newUser.lastName" class="col-sm-2 col-form-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="newUser.lastName" name="newUser.lastName" id="newUser.lastName" class="form-control">
                            </div>                        
                        </div>
                        <div class="form-group row">
                            <label for="newUser.birthday" class="col-sm-2 col-form-label">Birthday</label>
                            <div class="col-sm-10">
                                <input type="date" [(ngModel)]="newUser.birthday" name="newUser.birthday" id="newUser.birthday" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newUser.email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" [(ngModel)]="newUser.email" name="newUser.email" id="newUser.email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newUser.password" class="col-sm-2 col-form-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" [(ngModel)]="newUser.password" name="newUser.password" id="newUser.password" class="form-control">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-light" value="Create Task" id="login_btn">REGISTER</button>
                    </form>
                    <span><p><a [routerLink]="['/login']">Back to Log In</a></p></span>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</body>
</html>

