<div id="checking" class="account">
    <table class="table">
        <thead>
            <tr id="top">
                <th scope="col"></th>
                <th scope="col">Checking -8349</th>
                <th scope="col">$3,782.01</th>
            </tr>
            <tr>
                <td><span>Date</span></td>
                <td><span>Transaction</span></td>
                <td><span>Amount</span></td>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>1/5/20</td>
            <td>Cvs/pharmacy #10351 Dallas Tx</td>
            <td>$23.78</td>
        </tr>
        <tr>
            <td>1/4/20</td>
            <td>Hudson-dunkin St1134 Irving Tx</td>
            <td>$10.17</td>
        </tr>
        <tr>
            <td>1/4/20</td>
            <td>Apple.com/bill 866-713-7754 Ca</td>
            <td>$16.23</td>
        </tr>
        <tr>
            <td>1/2/20</td>
            <td>Usps Po 4822300205 Dallas Tx</td>
            <td>$14.35</td>
        </tr>
        <tr>
            <td>1/1/20</td>
            <td>Mobile Deposit</td>
            <td>+$2500.00</td>
        </tr>

        </tbody>
    </table>
</div>
