<div id="checking" class="account">
    <h1>Checking Accounts</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Checking -8349</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Account Name</td>
            <td>Available Balance</td>
        </tr>
        <tr>
            <td>Checking -8349</td>
            <td>$3,782.01</td>
        </tr>
        </tbody>
    </table>
</div>
<a [routerLink]="['/dashboard/home']">Back to All Accounts</a>

